@{

    ViewData["Title"] = "Carreras";
}

<head>

    <link rel='stylesheet' href='Carreras.css'>
   
</head>

<body>     

    <!--Carreras-->


  <!--  <form asp-controller="Carreras" asp-action="CrearCarreras">
        <output name="Nombre" id="Nombre">Psicologia</output>
        <button type="submit">Entrar</button>
    </form>
      -->



      <!--Codigo Importante-->
    <a href="/Carreras/CrearCarreras?Nombre=Carrera">Crear la Psicologia</a>



    <!-- <output name ="Nombre" id="Nombre">Psicologia</output> -->




    <!-- <div class="Carreras">

        <div class="Carrera">

            <h1 name="Nombre" id="Nombre">Psicologia</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, illo.
            </div>

            <br>

            <button asp-controller="Carreras" asp-action="CrearCarreras">Unirme a carrera</button>

        </div>-->



        <div class="Carrera" asp-controller="Carreras" asp-action="CrearCarreras">

            <h1 name="Nombre">Derecho</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet delectus officia ducimus voluptatum aut.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera" asp-controller="Carreras" asp-action="CrearCarreras">

            <h1 name="Nombre">Turismo</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit, amet consectetur adipisicing.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera" asp-controller="Carreras" asp-action="CrearCarreras">

            <h1 name="Nombre">Marketing</h1>
            <div class="Lorem">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In nobis sint suscipit excepturi corrupti hic incidunt.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <br>

        <div class="Carrera" asp-controller="Carreras" asp-action="CrearCarreras">

            <h1 name="Nombre">Arquitectura</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quam.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera" asp-controller="Carreras" asp-action="CrearCarreras">

            <h1 name="Nombre">Robotica</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet reprehenderit beatae ex!
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera" asp-controller="Carreras" asp-action="CrearCarreras">

            <h1 name="Nombre">Nutricion</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae voluptatem dolore sequi pariatur excepturi voluptates!
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera" asp-controller="Carreras" asp-action="CrearCarreras">

            <h1 name="Nombre">Odontologia</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

    </div>

    

</body>

