@{

    ViewData["Title"] = "Carreras";
}

<head>

    <link rel='stylesheet' href='Carreras.css'>
   
</head>

<body>     

    <!--Carreras-->

    <div class="Carreras">

        <div class="Carrera">

            <h1>Psicologia</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, illo.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera">

            <h1>Derecho</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet delectus officia ducimus voluptatum aut.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera">

            <h1>Turismo</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit, amet consectetur adipisicing.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera">

            <h1>Marketing</h1>
            <div class="Lorem">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In nobis sint suscipit excepturi corrupti hic incidunt.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <br>

        <div class="Carrera">

            <h1>Arquitectura</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quam.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera">

            <h1>Robotica</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet reprehenderit beatae ex!
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera">

            <h1>Nutricion</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae voluptatem dolore sequi pariatur excepturi voluptates!
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

        <div class="Carrera">

            <h1>Odontologia</h1>
            <div class="Lorem">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>

            <br>

            <button>Unirme a carrera</button>

        </div>

    </div>

    

</body>

