




<form asp-controller="Carreras" asp-action="AgregarMateria">
    <input type="text" placeholder="Id..." name="Id" id="Id" />
    <input type="text" placeholder="Nombre..." name="Nombre" id="Nombre" />
    <input type="text" placeholder="Materia..." name="Materia" id="Materia" />
    <button type="submit">RegistrarMateria</button>
</form>
